NODE_ENV=
APP_URL=http://localhost:8080
BACKEND_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3000
PORT=8080

DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=atendzappy

JWT_SECRET=3123123213123
JWT_REFRESH_SECRET=75756756756

REDIS_URI=redis://:ccvSDBwJ17Z3okY@127.0.0.1:5000
REDIS_OPT_LIMITER_MAX=1
REGIS_OPT_LIMITER_DURATION=3000

USER_LIMIT=999
CONNECTIONS_LIMIT=999
CLOSED_SEND_BY_ME=true


VERIFY_TOKEN=whaticket

# App da Meta (Facebook Developers)
FACEBOOK_APP_ID=776874187723945
FACEBOOK_APP_SECRET=f5c459238d0df6a55a229f2262fb91a1



GOOGLE_CLIENT_ID=604305494657-vuc12chul19ro50qh9i4a7nq9ot3cfkm.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=https://api.atendzappy.com.br/google-calendar/oauth/callback

UAZAPI_ADMIN_TOKEN=ZaW1qwTEkuq7Ub1cBUuyMiK5bNSu3nnMQ9lh7klElc2clSRV8t
UAZAPI_BASE_URL=https://free.uazapi.com
UAZAPI_WEBHOOK_URL=http://localhost:8080/webhook/uazapi
